body{
	background-color: #FFFEF2;
	margin: 25px;
}

h1{
	color: #F5703C;
	font-family: times new roman;
	text-align: center;
	font-size: 40px;
}

h2{
	color: #F5AA9F;
	font-family: times new roman;
	text-align: center;
	font-size: 23px;
}

p{
	color: #808080;
	font-family: tahoma;
	font-size: 15px;
	text-align: center;
}

nav{
	color: black;
	font-family: tahoma;
	font-size: 15px;
}

img{
	display: inline-block;
	margin: 15px 10px;
}

section{
	display: flex;
	padding: 10px;
}

article{
	padding: 15px;
}


