p{
	color: #FFFEF2;
	font-family: tahoma;
	font-size: 15px;
	text-align: center;

}

body{
	background-color: #F5AA9F;
}

h1{
	color: #F5703C;
	font-family: times new roman, serif;
	text-align: center;
	font-size: 50px;
}

h2{
	color: #F5703C;
	font-family: times new roman, serif;
	text-align: center;
	font-size: 25px;
}

img{
	display: inline-block;
	margin: 50px 10px 20px;
}

html{
	margin: 20px 50px 50px 50px;
}

