body{
	background-color: #FFFEF2;
	margin: 25px;
}

h1{
	color: #F5703C;
	font-family: times new roman, serif;
	text-align: center;
	font-size: 40px;
}

p{
	color: #808080;
	font-family: tahoma;
	font-size: 15px;
	text-align: center;
}

dt{
	color: #F5AA9F;
	font-family: times new roman, serif;
	font-size: 23px;
}

dd{
	color: #808080;
	font-family: tahoma;
	font-size: 15px;
}